{% extends "base.html" %}
{% block title %}Crypto Market{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3 class="wallet_amount">You have ${{wallet}} in your wallet to spend!</h3>
    <h1 class="market_title">Welcome to the Crypto Market!</h1>
    <div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
     <p>Begin purchasing!</p>
       <br>
       <div><meta http-equiv="refresh" content="10"/></div>
          <table class="table table-hover table-dark">
             <thead>
                <tr>
                   <!-- Your Columns HERE -->
                   <th scope="col">Name</th>
                   <th scope="col">Price in USDT</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                  <th scope="row">BTC</th>
                  <td>{{ data_price[0] }}</td>
                </tr>
                <tr>
                  <th scope="row">ETH</th>
                  <td>{{ data_price[1] }}</td>

                </tr>
                <tr>
                  <th scope="row">BNB</th>
                  <td>{{ data_price[2] }}</td>

                </tr>
                <tr>
                  <th scope="row">USDT</th>
                  <td>{{ data_price[3] }}</td>

                </tr>
                <tr>
                  <th scope="row">SOL</th>
                  <td>{{ data_price[4] }}</td>
                </tr>
                <tr>
                  <th scope="row">ADA</th>
                  <td>{{ data_price[5] }}</td>
                </tr>
                <tr>
                  <th scope="row">USDC</th>
                  <td>{{ data_price[6] }}</td>
                </tr>
                <tr>
                  <th scope="row">XRP</th>
                  <td>{{ data_price[7] }}</td>
                </tr>
                <tr>
                  <th scope="row">LUNA</th>
                  <td>{{ data_price[8] }}</td>
                </tr>
                <tr>
                  <th scope="row">DOT</th>
                  <td>{{ data_price[9] }}</td>
                </tr>
                <tr>
                  <th scope="row">AVAX</th>
                  <td>{{ data_price[10] }}</td>
                </tr>
                <tr>
                  <th scope="row">DOGE</th>
                  <td>{{ data_price[11] }}</td>
                </tr>
                <tr>
                  <th scope="row">SHIB</th>
                  <td>{{ data_price[12] }}</td>
                </tr>
                <tr>
                  <th scope="row">MATIC</th>
                  <td>{{ data_price[13] }}</td>
                </tr>
                <tr>
                  <th scope="row">BUSD</th>
                  <td>{{ data_price[14] }}</td>
                </tr>
                <tr>
                  <th scope="row">CRO</th>
                  <td>{{data_price[15] }}</td>
                </tr>
             </tbody>
          </table>
   </div>
  </div>
  <form class="markets" method="post">
      <div class="buy">
          <p><label class="market_coin_buy" for="myCoins">Choose a coin you'd like to purchase!</label></p>
            <input list="coins" id="myCoins" name="myCoins" />
            <datalist id="coins">
              <option value="BTC">
              <option value="ETH">
              <option value="BNB">
              <option value="USDT">
              <option value="SOL">
              <option value="ADA">
              <option value="USDC">
              <option value="XRP">
              <option value="LUNA">
              <option value="DOT">
              <option value="AVAX">
              <option value="DOGE">
              <option value="MATIC">
              <option value="BUSD">
              <option value="CRO">
            </datalist>
        <p>Quantity you want to purchase?</p><input type="text" name="num_coins">
        <p class="purchase"><input type="submit" value="Purchase"></p>
    </div>

  </form>

{% endblock %}