[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
typing_extensions = "*"
flask = "*"
flask-session = "*"
requests = "*"
apig-wsgi = "*"
certifi = "*"
cryptography = "*"
boto3 = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true